/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Aug-2017, 7:13:56 PM
    Author     : 3mliu
*/
.container {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:250px;
    width: 90%;
}

#select1 {
    box-shadow: 0px 0px 30px aqua;
    display:inline-block;
    position: fixed;
    top: 500px;
    left: 10%;
}

#select2 {
    box-shadow: 0px 0px 30px coral;
    display:inline-block;
    position: fixed;
    top: 500px;
    left: 24%;
}

#select3 {
    box-shadow: 0px 0px 30px plum;
    display:inline-block;
    position: fixed;
    top: 500px;
    left: 39%;
}

#select4 {
    box-shadow: 0px 0px 30px green;
    display:inline-block;
    position: fixed;
    top: 500px;
    left: 54%;
}

#select5 {
    box-shadow: 0px 0px 30px wheat;
    display:inline-block;
    position: fixed;
    top: 500px;
    left: 69%;
}

#select6 {
    box-shadow: 0px 0px 30px indianred;
    display:inline-block;
    position: fixed;
    top: 500px;
    left: 84%;
}