iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

iframe.expanded {
    position: fixed;
    width: 1000px; 
    height: 1000px;
    transform: translate(-50%, -50%);
    z-index: 3;
    
}

.placeholder {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 560px;
    height: 315px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#like-button {
    position: fixed;
    top: 80%;
    left: 35%;
}

#dislike-button {
    position: fixed;
    top: 80%;
    left: 50%;
}

#back-button {
    position: fixed;
    top: 80%;
    left: 65%;
}